.container {
    text-align: center;
    font-family: 'Libra Sans', sans-serif;
    align-items: center;

}

.header {
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
}

.textScreen1 {
    font-size: 35px;

}

.headerScreen1 {
    font-size: 100px;
    text-align: center;
    font-weight: bolder;

}

body {
    background-color: #d9d9d8;

}

.button {
    background-color: #FF9E3D;
    size: 30;
    text-align: center;
    font-size: 30px;
    padding: 14px 40px;
    border-radius: 100px;
    width: 250px;
    margin: 60px;
    justify-content: center;
    cursor: pointer;
    font-weight: bolder;

}

.button:hover {
    background: salmon;
    transition: 0.7s;

}

.screen1Hat {
    width: 300px;
    height: 300px;
}

form {
    margin: 0 auto;
    text-align: start;
    background-color: aqua;
}

.fromScreenTwoThree {
    margin: 0 auto;
    width: 250px;
    text-align: start;
}

label {
    display: block;
    font-size: 25px;
}

input {

    width: 100%;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 100px;
    background-color: #FF9E3D;

}

h2 {
    margin-right: 600px;
}