nav {
    background-color: #FF9E3D;
    display: flex;
    height: 70px;


}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;



}

nav li {
    display: inline-block;



}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 40px;
    padding: 10px 40px;



}

.bgu-img-nav-link {
    padding: 0px;
}

nav a:hover {
    background: salmon;
}

.nav-main-container {

}

.container {
    text-align: center;
    font-family: 'Libra Sans', sans-serif;
    align-items: center;

}

.header {
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 50px;

}

.textScreen1 {
    font-size: 35px;

}

.headerScreen1 {
    font-size: 100px;
    text-align: center;
    font-weight: bolder;

}

body {
    background-color: #d9d9d8;
    height: 300vh;

}

.button {
    background-color: #FF9E3D;
    size: 30px;
    text-align: center;
    font-size: 30px;
    padding: 14px 40px;
    border-radius: 100px;
    width: 250px;
    margin: 60px;
    justify-content: center;
    cursor: pointer;
    font-weight: bolder;

}

.button:hover {
    background: salmon;
    transition: 0.7s;

}

.screen1Hat {
    width: 300px;
    height: 300px;
}

form {
    margin: 0 auto;
    text-align: start;
    max-width: 1000px;

}

.formScreenTwoThree {
    margin: 0 auto;
    width: 250px;
    text-align: start;
}

.formScreen4 {
    /*background-color: white;*/
    display: flex;
    gap: 50px;
    min-width: 300px;
    flex-wrap: wrap;
}

.box {
    min-width: 450px;
    width: 75px;
    min-height: 100px;
    /*background-color: purple;*/
}

.formScreen4SelectStyle {
    width: 40%;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 100px;
    background-color: #FF9E3D;
    border-color: #FF9E3D;
}

.formScreen4SelectStyleShort {
    width: 30%;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 100px;
    background-color: #FF9E3D;
    border-color: #FF9E3D;
}

label {
    display: block;
    font-size: 25px;
}

input {

    width: 100%;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 100px;
    background-color: #FF9E3D;

}


.subheader {
    font-size: 32px;
    margin-right: 345px;
}

.containerScreen5 {
    margin: 20px 100px 20px 100px;
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    gap: 2em;
    grid-auto-rows: 0.6fr;
    align-content: center;


}

.boxgrid {
    background-color: #efe4c5;
    place-content: center;
    display: grid;

}

.boxgridline1 {
    background-color: #FF9E3D;
    place-content: center;
    display: grid;
}

