<!--todo: Write this text as needed-->
<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>CourseGrade</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<div class="nav-main-container">
    <div class="nav-subcontainer">
        <nav>
            <a herf="#" class="bgu-img-nav-link">
                <img src="../pics/bgu-img-nav.png" class="bgu-img-nav">
            </a>
            <ul>
                <li><a href="screen_1.html">בית</a></li>
                <li><a href="#">אודות </a></li>
                <li><a href="screen_4.html">חפש קורס</a></li>
                <li><a href="screen_7.html">חפש מתרגל</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <h1>CourseGrade</h1>
    <h2>לקבל את המידע החיוני ביותר, להחלטה הטובה ביותר.</h2>
    <p>לפתח אתר עם ממשק משתמש ידידותי ומסודר שיהפוך את הנתונים לקלים לקריאה ולהערכה.

        לספק מידע מעודכן ואמין על ציוני הקורסים כך שהסטודנטים יוכלו לקחת החלטות מוחקנות בנוגע לבחירת קורסים.

        להציג את המידע באופן מקצועי ואובטח כך שלא יתגלה מידע פרטי או סודי על הסטודנטים והקורסים.

        לאפשר לסטודנטים לסנן ולמצוא קורסים מתוך כל הקורסים שהאוניברסיטה מציעה, באמצעות כלים כמו חיפוש מתקדם וקטגוריות
        לפי מחלקות ותחומי עניין.

        לעדכן באופן תכנון ומדויק את המידע על הקורסים, כולל תכניות הלימוד, מספר הסטודנטים ודרישות הקודם, כך שסטודנטים
        יוכל.</p>

</div>
<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
                class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
                href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">בית</a></li>
            <li class="list-inline-item"><a href="#">אודות</a></li>
            <li class="list-inline-item"><a href="#">חפש קורס</a></li>
            <li class="list-inline-item"><a href="#">חפש מתרגל</a></li>
        </ul>
        <p class="copyright">CourseGrade © 2022</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>

