<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>CourseGrade</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script defer src="../static/JS/script.js"></script>
</head>
<body>
<!-- Navbar Section -->
<nav class="navbar">
    <div class="navbar__container">
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span> <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="HomePage.html" class="navbar__links" id="home-page">בית</a>
            </li>
            <li class="navbar__item">
                <a href="about_us.html" class="navbar__links" id="about-page">אודות</a>
            </li>
            <li class="navbar__item">
                <a href="SearchCourse.html" class="navbar__links" id="course-page">חפש קורס</a>
            </li>
            <li class="navbar__item">
                <a href="TeacherSearch.html" class="navbar__links" id="teacher-page">חפש מורה</a>
            </li>
            <li class="navbar__item">
                <a href="Recommendation.html" class="navbar__links" id="Recommendation-page">מומלצים</a>
            </li>
        </ul>
    </div>
</nav>

<div class="main-title">
    <h3><span><span class="bg-text">קצת עלינו</span></span></h3>
</div>
<div class="about-container">
    <div class="left-about">
        <h3> לקבל את המידע החיוני ביותר, להחלטה הטובה ביותר.</h3>
        <p> CourseGrade , הינו ממשק לחיפוש ואיתור קורסים אקדמיים תחת אוניברסיטת בן גוריון אשר ינגיש את הצגת המידע עבור
            כל קורס וקורס בפרט מידע אודות ממוצע הציונים בקורס ודירוגי הסטודנטים
            אשר יסייעו לסטודנט בבחירת הקורסים השונים.
            <br>
            <br>
            כיום, סטודנט המעוניין להשיג מידע על קורס צריך לבקש מחבריו שלקחו את הקורס מידע לגביו, במידה ויש לו חברים כאלו
            כלל .דבר זה יוצר מצב של חוסר שיוון בו סטודנט המכיר יותר אנשים בוגרי הקורסים השונים ירכשו מידע מדויק יותר,
            היעזור להם בקבלת החלטות טובות יותר.
            <br>
            <br>
            אנו מאמינים שבעזרת שירותנו פערים אלו יצטמצמו עד לא יתקיימו, ולכלל
            הסטודנטים יהיה מידע באשר הקורסים והמתרגלים השונים.
        </p>
    </div>
    <div class="right_about">
        <div class="about-item1">
            <div class="abt-text">
                <p class="large-text">500+</p>
                <p class="small-text">סטודנטים<br>רשומים </p>
            </div>
        </div>
        <div class="about-item1">
            <div class="abt-text">
                <p class="large-text">100+</p>
                <p class="small-text">קורסים<br> במערכת</p>
            </div>
        </div>
        <div class="about-item1">
            <div class="abt-text">
                <p class="large-text">50+</p>
                <p class="small-text">מתרגלים<br>זמינים </p>
            </div>
        </div>
        <div class="about-item1">
            <div class="abt-text">
                <p class="large-text">20+</p>
                <p class="small-text">מחלקות<br>משתפות פעולה </p>
            </div>
        </div>
    </div>
</div>


<div class="footer-basic">
    <footer>
        <div class="social"><a href="https://www.instagram.com/bengurionuniversity/"><i
                class="icon ion-social-instagram"></i></a></i></a><a href="https://twitter.com/bengurionuni"><i
                class="icon ion-social-twitter"></i></a><a
                href="https://www.facebook.com/bgu.uni/"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="HomePage.html">בית</a></li>
            <li class="list-inline-item"><a href="about_us.html">אודות</a></li>
            <li class="list-inline-item"><a href="SearchCourse.html">חפש קורס</a></li>
            <li class="list-inline-item"><a href="Teacher_Reg.html  .html">חפש מורה</a></li>
            <li class="list-inline-item"><a href="Recommendation.html">מומלצים </a></li>
        </ul>
        <p class="copyright">CourseGrade © 2022</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>

