extends layout
block content
    .main-title
        h3
            span
                span.bg-text קצת עלינו
    .about-container
        .left-about
            h3  לקבל את המידע החיוני ביותר, להחלטה הטובה ביותר.
            p
                | CourseGrade , הינו ממשק לחיפוש ואיתור קורסים אקדמיים תחת אוניברסיטת בן גוריון אשר ינגיש את הצגת המידע עבור
                | כל קורס וקורס בפרט מידע אודות ממוצע הציונים בקורס ודירוגי הסטודנטים
                | אשר יסייעו לסטודנט בבחירת הקורסים השונים.
                br
                br
                | כיום, סטודנט המעוניין להשיג מידע על קורס צריך לבקש מחבריו שלקחו את הקורס מידע לגביו, במידה ויש לו חברים כאלו
                | כלל .דבר זה יוצר מצב של חוסר שיוון בו סטודנט המכיר יותר אנשים בוגרי הקורסים השונים ירכשו מידע מדויק יותר,
                | היעזור להם בקבלת החלטות טובות יותר.
                br
                br
                | אנו מאמינים שבעזרת שירותנו פערים אלו יצטמצמו עד לא יתקיימו, ולכלל
                | הסטודנטים יהיה מידע באשר הקורסים והמתרגלים השונים.
        div(class="right_about")
            .about-item1
                .abt-text
                    p.large-text 500+
                    p.small-text סטודנטים
                        br
                        | רשומים
            .about-item1
                .abt-text
                    p.large-text 100+
                    p.small-text קורסים
                        br
                        | במערכת
            .about-item1
                .abt-text
                    p.large-text 50+
                    p.small-text מתרגלים
                        br
                        | זמינים
            .about-item1
                .abt-text
                    p.large-text 20+
                    p.small-text מחלקות
                        br
                        | משתפות פעולה
