doctype html
html(dir="rtl", lang="he")
  head
    meta(charset="UTF-8")
    title CourseGrade
    link(rel="stylesheet", href="css/style.css")
  body.commentScreen
    .comment-box
      p הוסף תגובה
      form.comment-form
        input.inputcomment(type="text", placeholder="כותרת", required)
        input.inputcomment(type="number", min="1", max="5", placeholder="מדד עומס")
        input.inputcomment(type="number", min="1", max="5", placeholder="מדד הקושי")
        textarea(rows="10", placeholder="תוכן")
        button(type="submit")  שלח
