extends layout
block content
    .header6 #{ChosenCourse.course_name}
    main.containerScreen6
        div(class="boxgridline6_1")
            p
                label(for="yeartaken") שנת לימוד:
                select#yeartaken.formScreen6SelectStyle(name="yeartaken", onchange="selectElement('semester','0')")
                    option.textInSelect(value="try1", disabled, selected) בחר שנה
                    option(value="2022") 2022
                    option(value="2021") 2021
                    option(value="2020") 2020

            p
                label(for="semester")  סמסטר:
                select#semester.formScreen6SelectStyle(name="semester", disabled, onchange="showItemes('ranking','distribution');DependentCourseData('yeartaken', 'semester', 'avgForCourse', 'sdForCourse')")
                    option.textInSelect(value="0", disabled, selected) בחר סמסטר:
                    option(value="1") 1
                    option(value="2") 2
        #ranking(class="boxgridline6_2", style="display:none;")
            .rating-css1
                p מדד העומס :
                div.about-stats
                    h4.stats-title
                    div.progress-bars
                        div.progress-bar
                            p.prog-title
                            div.progress-con
                                p.prog-text(id="ratingLoad")
                                div.progress
                                    span.load
                p מדד הקושי :
                div.about-stats
                    h4.stats-title
                    div.progress-bars
                        div.progress-bar
                            p.prog-title
                            div.progress-con
                                p.prog-text(id="ratingDiff")
                                div.progress
                                    span.diff
            br
            br
            p
                span ממוצע:
                span#avgForCourse
            p
                span סטיית תקן:
                span#sdForCourse
        #distribution(class="boxgridline6_3", style="display:none;")
            img.screen6graph(src="../pics/graph.png", alt="hat")
        div(class="boxgridline6_4")
            each reviewOfCourse in reviewsOfCourses
                .Testimonials
                    img(src="../pics/profile.jpeg", alt="Avatar", style="width:90px")
                    p
                        span #{reviewOfCourse.username}
                        | #{reviewOfCourse.title}
                    p(class="text_in_comment") #{reviewOfCourse.description}
    a(href='/comment')
        button.button6(type="submit") הוסף תגובה
    a(href="/SearchCourse")
        button.button6(type="submit") חזור לחיפוש
