<!--TODO: think of what to do with the graphs ?-->
<!--TODO : the star dont work as i wanted they are depentad when click on one the other change -->
<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>CourseGrade</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script defer src="../static/script.js"></script>
</head>
<!-- Navbar Section -->
<nav class="navbar">
    <div class="navbar__container">
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span> <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="HomePage.html" class="navbar__links" id="home-page">בית</a>
            </li>
            <li class="navbar__item">
                <a href="about_us.html" class="navbar__links" id="about-page">אודות</a>
            </li>
            <li class="navbar__item">
                <a href="SearchCourse.html" class="navbar__links" id="course-page">חפש קורס</a>
            </li>
            <li class="navbar__item">
                <a href="TeacherSearch.html" class="navbar__links" id="teacher-page">חפש מורה</a>
            </li>
            <li class="navbar__item">
                <a href="Recommendation.html" class="navbar__links" id="Recommendation-page">מומלצים</a>
            </li>
        </ul>
    </div>
</nav>

<div class="header6">בניית מערכות ממוחשבות מבוססות אינטרנט</div>
<main class="containerScreen6">
    <div class="boxgridline6_1">
        <p>
            <label for="yeartaken">שנת לימוד:</label>
            <select name="yeartaken" id="yeartaken" class="formScreen6SelectStyle"
                    onchange="selectElement('semester','0')">
                <option value="try1" disabled selected class="textInSelect">בחר שנה</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>

            </select>
        </p>
        <p>
            <label for="semester"> סמסטר:</label>
            <select name="semester" id="semester" class="formScreen6SelectStyle" disabled
                    onchange="showItemes('ranking','distribution') ">
                <option value="0" disabled selected class="textInSelect">בחר סמסטר:</option>
                <option value="1">1</option>
                <option value="2">2</option>

            </select>
        </p>
    </div>
    <div class="boxgridline6_2" id="ranking" style="display:none;">
        <div class="rating-css1">
            <p>מדד העומס :</p>
            <div class="star-icon">
                <input type="radio" name="rating1" id="rating1" disabled>
                <label for="rating1" class="fa fa-star"></label>
                <input type="radio" name="rating2" id="rating2" disabled>
                <label for="rating2" class="fa fa-star"></label>
                <input type="radio" name="rating3" id="rating3" disabled>
                <label for="rating3" class="fa fa-star"></label>
                <input type="radio" name="rating4" id="rating4" disabled>
                <label for="rating4" class="fa fa-star"></label>
                <input type="radio" name="rating5" id="rating5" disabled>
                <label for="rating5" class="fa fa-star"></label>
                </input>
            </div>
        </div>

        <div class="rating-css2">
            <p>מדד הקושי :</p>
            <div class="star-icon">
                <input type="radio" name="rating12" id="rating12" disabled>
                <label for="rating12" class="fa fa-star"></label>
                <input type="radio" name="rating22" id="rating22" disabled>
                <label for="rating22" class="fa fa-star"></label>
                <input type="radio" name="rating32" id="rating32" disabled>
                <label for="rating32" class="fa fa-star"></label>
                <input type="radio" name="rating42" id="rating42" disabled>
                <label for="rating42" class="fa fa-star"></label>
                <input type="radio" name="rating52" id="rating52" disabled>
                <label for="rating52" class="fa fa-star"></label>
                </input>
            </div>
        </div>
        <br>
        <br>
        <p> ממוצע: 85.21</p>
        <p> סטיית תקן: 4.86</p>
    </div>
    <div class="boxgridline6_3" id="distribution" style="display:none;">
        <img src="../static/pics/graph.png" class="screen6graph" alt="hat">
    </div>
    <div class="boxgridline6_4">
        <div class="Testimonials">
            <img src="../static/pics/profile.jpeg" alt="Avatar" style="width:90px">
            <p><span>איתי נחום</span> הקורס מעולה !! </p>
            <p class="text_in_comment">הקורס הכי רלוונטי שיש כרגע בתואר !</p>
        </div>

        <div class="Testimonials">
            <img src="../static/pics/profile.jpeg" alt="Avatar" style="width:90px">
            <p><span>קורל לוי</span> קורס עם הרבה קוד</p>
            <p class="text_in_comment">הקורס מומלץ למי שאוהב לכתוב המון קוד ורוצה לחזק את הבנה שלו בצד לקוח שרת</p>
        </div>
        <div class="Testimonials">
            <img src="../static/pics/profile.jpeg" alt="Avatar" style="width:90px">
            <p><span>איתן ליבוביץ</span>מרצה מעולה !</p>
            <p class="text_in_comment">המון חומר תכלסי שאפשר להפיק ממנו הרבה !</p>
        </div>
    </div>
</main>

<button onclick="openNewWindow('comment.html')" type="submit" class="button6">הוסף תגובה</button>

<a href="SearchCourse.html">
    <button type="submit" class="button6">חזור לחיפוש</button>
</a>

<div class="footer-basic">
    <footer>
        <div class="social"><a href="https://www.instagram.com/bengurionuniversity/"><i
                class="icon ion-social-instagram"></i></a></i></a><a href="https://twitter.com/bengurionuni"><i
                class="icon ion-social-twitter"></i></a><a
                href="https://www.facebook.com/bgu.uni/"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="HomePage.html">בית</a></li>
            <li class="list-inline-item"><a href="about_us.html">אודות</a></li>
            <li class="list-inline-item"><a href="SearchCourse.html">חפש קורס</a></li>
            <li class="list-inline-item"><a href="Teacher_Reg.html">חפש מורה</a></li>
            <li class="list-inline-item"><a href="Recommendation.html">מומלצים </a></li>
        </ul>
        <p class="copyright">CourseGrade © 2022</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>