extends layout
block content
    .header תוצאות חיפוש:
    main.containerScreen5
      .boxgridline1 שם הקורס
      .boxgridline1 מדד העומס
      .boxgridline1 מדד הקושי
      a.boxgrid(href="http://localhost:8080/CourseData")
        .boxgrid בניית מערכות ממוחשבות מבוססות אינטרנט
      .boxgrid 5
      .boxgrid 5
      .boxgrid
      .boxgrid
      .boxgrid
      .boxgrid
      .boxgrid
      .boxgrid
      a(href="http://localhost:8080/CourseResults")
        button.button(type="submit") חזור לחיפוש
