extends layout
block content
    .container
        .imgScreen1
            img.screen1Hat(src='../pics/studentHat.png' alt='hat')
        .headerScreen1 CourseGrade
        p.textScreen1 לקבל את המידע החיוני ביותר, להחלטה הטובה ביותר.
        a(href='http://localhost:3000/RegistrationUser')
            input.button(type='submit' value='צור חשבון' name='createAccount')
        a(href='http://localhost:3000/Login')
            input.button(type='submit' value='התחבר' name='register')
        p