<!--TODO:design better , improveplacement of  buttons-->
<!--TODO: verefications-->
<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>CourseGrade</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
     <script defer src="../static/script.js"></script>
</head>
<body>
<!-- Navbar Section -->
<nav class="navbar">
    <div class="navbar__container">
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span> <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="HomePage.html" class="navbar__links" id="home-page">בית</a>
            </li>
            <li class="navbar__item">
                <a href="about_us.html" class="navbar__links" id="about-page">אודות</a>
            </li>
            <li class="navbar__item">
                <a href="SearchCourse.html" class="navbar__links" id="course-page">חפש קורס</a>
            </li>
            <li class="navbar__item">
                <a href="TeacherSearch.html" class="navbar__links" id="teacher-page">חפש מורה</a>
            </li>
            <li class="navbar__item">
                <a href="#" class="navbar__links" id="Recommendation-page">מומלצים</a>
            </li>
        </ul>
    </div>
</nav>

<input type="button" name="answer" value="המלץ לי על פעילות" onclick="ShowTeacher('recommend_result')"/>
    </form>
    <div id="recommend_result"  style="display:none;" class="answer_list" >
    <button type="randomtrip" onclick="randomSong()">אני רוצה משהו אחר</button>
    <input name="randomSong" id="randomTrip">
</body>
</html>