<!--TODO:design better , improveplacement of  buttons-->
<!--TODO: verefications-->
<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>CourseGrade</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
     <script defer src="../static/script.js"></script>
</head>
<body>
<input type="button" name="answer" value="המלץ לי על פעילות" onclick="ShowTeacher()"/>
    </form>
    <div id="recommend_result"  style="display:none;" class="answer_list" >
    <button type="randomtrip" onclick="randomSong()">אני רוצה משהו אחר</button>
    <input name="randomSong" id="randomTrip">
</body>
</html>