<!--TODO: linking bgu logo to bgu website-->
<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>CourseGrade</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="nav-main-container">
    <div class="nav-subcontainer">
        <nav>
            <a herf="https://in.bgu.ac.il/Pages/default.aspx" class="bgu-img-nav-link">
                <img src="../pics/bgu-img-nav.png" class="bgu-img-nav">
            </a>
            <ul>
                <li><a href="screen_1.html">בית</a></li>
                <li><a href="about_us.html">אודות </a></li>
                <li><a href="screen_4.html">חפש קורס</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="imgScreen1">
        <img src="../pics/studentHat.png" class="screen1Hat" alt="hat">
    </div>
    <div class="headerScreen1">CourseGrade</div>
    <p class="textScreen1">לקבל את המידע החיוני ביותר, להחלטה הטובה ביותר.</p>
    <a href="screen_2.html">
        <input type="submit" class="button" value="צור חשבון" name="createAccount">
    </a>
    <a href="screen_3.html">
        <input type="submit" class="button" value=התחבר name="register">
    </a>

    </p>
</div>
</body>
</html>

