<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>CourseGrade</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<body>
<div class="nav-main-container">
    <div class="nav-subcontainer">
        <nav>
            <a href="https://in.bgu.ac.il/" class="bgu-img-nav-link">
                <img src="../pics/bgu-img-nav.png" class="bgu-img-nav">
            </a>
            <ul>

                <li><a href="screen_1.html">בית</a></li>
                <li><a href="about_us.html">אודות </a></li>
                <li><a href="screen_4.html">חפש קורס</a></li>
                <li><a href="screen_7.html">חפש מורה</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>
</div>
<section id="about">
    <div class="about1">
        <h1>מדריכים מוצעים לטיול</h1>
    </div>
    <div id="about 2">
        <div class="content-box-lg">
            <div class="guide-container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fas fa-chalkboard-teacher"></i>
                            <h3>שירי מימון</h3>
                            <hr>
                            <p>שנות ניסיון בהדרכת טיולים: 5 , מחיר לטיול : 20 ש"ח, טלפון ליצירת קשר : 052538168</p>
                            <p>אני מדריכת טיולים מקצועית עם למעלה מ-5 שנות ניסיון בהובלת טיולים ברחבי הארץ. אני נלהב
                                לחלוק את הידע והאהבה שלי לטיולים עם אחרים, ושואף להפוך כל סיור לחוויה ייחודית ומהנה. בין
                                אם אתם מחפשים לחקור את רחובות העיר השוקקים או את נופי הטבע היפים, אני כאן כדי לעזור לכם
                                לתכנן את הטיול המושלם. אני מצפה להדריך אותך בהרפתקה הבאה שלך! </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fas fa-chalkboard-teacher"></i>
                            <h3>עידו כהן</h3>
                            <hr>
                            <p>שנות ניסיון בהדרכת טיולים: 5 , מחיר לטיול : 20 ש"ח, טלפון ליצירת קשר : 0504565432</p>
                            <p>אני מדריכת טיולים מקצועית עם למעלה מ-5 שנות ניסיון בהובלת טיולים ברחבי הארץ. אני נלהב
                                לחלוק את הידע והאהבה שלי לטיולים עם אחרים, ושואף להפוך כל סיור לחוויה ייחודית ומהנה. בין
                                אם אתם מחפשים לחקור את רחובות העיר השוקקים או את נופי הטבע היפים, אני כאן כדי לעזור לכם
                                לתכנן את הטיול המושלם. אני מצפה להדריך אותך בהרפתקה הבאה שלך!
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fas fa-chalkboard-teacher"></i>
                            <h3>דולב סולומון</h3>
                            <hr>
                            <p>שנות ניסיון בהדרכת טיולים: 5 , מחיר לטיול : 20 ש"ח, טלפון ליצירת קשר : 0504565432 </p>
                            <p>היי לכולם, אני מוביל סיורים ב-5 השנים האחרונות ויש לי אהבה והערכה עמוקה להיסטוריה ולתרבות
                                של הארץ שלנו. אני נלהב לחלוק את הידע שלי עם אחרים ושואף להפוך כל סיור לחוויה מרתקת
                                ומעשירה. אני נרגש להיות המדריך שלך להרפתקה ומצפה להכיר כל אחד ואחת מכם.</p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="footer-basic">
    <footer>
        <div class="social"><a href="https://www.instagram.com/bengurionuniversity/"><i class="icon ion-social-instagram"></i></a></i></a><a href="https://twitter.com/bengurionuni"><i class="icon ion-social-twitter"></i></a><a
                href="https://www.facebook.com/bgu.uni/"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="screen_1.html">בית</a></li>
            <li class="list-inline-item"><a href="about_us.html">אודות</a></li>
            <li class="list-inline-item"><a href="screen_4.html">חפש קורס</a></li>
            <li class="list-inline-item"><a href="screen_7.html">חפש מורה</a></li>
        </ul>
        <p class="copyright">CourseGrade © 2022</p>
    </footer>
</div>
</body>
</html>