<!--TODO: linking bgu logo to bgu website-->
<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>CourseGrade</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>

<div class="nav-main-container">
    <div class="nav-subcontainer">
        <nav>
            <a href="https://in.bgu.ac.il/" class="bgu-img-nav-link">
                <img src="../pics/bgu-img-nav.png" class="bgu-img-nav">
            </a>
            <ul>

                <li><a href="screen_1.html">בית</a></li>
                <li><a href="about_us.html">אודות </a></li>
                <li><a href="screen_4.html">חפש קורס</a></li>
                <li><a href="screen_7.html">חפש מורה</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="imgScreen1">
        <img src="../pics/studentHat.png" class="screen1Hat" alt="hat">
    </div>
    <div class="headerScreen1">CourseGrade</div>
    <p class="textScreen1">לקבל את המידע החיוני ביותר, להחלטה הטובה ביותר.</p>
    <a href="screen_2.html">
        <input type="submit" class="button" value="צור חשבון" name="createAccount">
    </a>
        <a href="Teacher_Reg.html">
        <input type="submit" class="button" value=" צור חשבון מורה" name="createAccount">
    </a>
    <a href="screen_3.html">
        <input type="submit" class="button" value=התחבר name="register">
    </a>

    </p>
</div>
<div class="footer-basic">
    <footer>
        <div class="social"><a href="https://www.instagram.com/bengurionuniversity/"><i class="icon ion-social-instagram"></i></a></i></a><a href="https://twitter.com/bengurionuni"><i class="icon ion-social-twitter"></i></a><a
                href="https://www.facebook.com/bgu.uni/"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="screen_1.html">בית</a></li>
            <li class="list-inline-item"><a href="about_us.html">אודות</a></li>
            <li class="list-inline-item"><a href="screen_4.html">חפש קורס</a></li>
            <li class="list-inline-item"><a href="screen_7.html">חפש מורה</a></li>
        </ul>
        <p class="copyright">CourseGrade © 2022</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>

