extends layout
block content
    .container
      .header חיפוש קורסים
      .toggle-container
        .subheader  אפשריות סינון מתקדמות:
        label.switch
          input#checkbox(type="checkbox", value="false", onchange="disableCourse()")
          span.slider
      // todo: link when i know how to do linking in action
      form.formScreen4(action="http://localhost:8080/CourseData")
        .box
          p
            label(for="departmentNumber") מספר מחלקה:
            select#departmentNumber.formScreen4SelectStyle(name="departmentNumber", required, onchange="selectElement('courseNumber','11')")
              option.textInSelect(value="", disabled, selected) בחר מספר מחלקה
              option(value="361") 361-המחלקה להנדסת חשמל ומחשבים
              option(value="362") 362-המחלקה להנדסה מכונות
              option(value="363") 363-המחלקה להנדסה כימית
              option(value="364") 364-המחלקה להנדסת תעשייה וניהול
              option(value="365") 365-המחלקה להנדסה חומרים
              option(value="366") 366-המחלקה להנדסה גרעינית
          p
            label(for="courseNumber") מספר קורס:
            select#courseNumber.formScreen4SelectStyle(name="courseNumber", disabled)
              option.textInSelect(value="11", disabled, selected) בחר מספר קורס
              option(value="1041") מבוא להסתברות
              option(value="1061") מודלים של רגרסיה
              option(value="1081") האינטרנט של הדברים בתעשייה
              option(value="1091") הנדסת איכות
              option(value="1171") מערכות בינה עיסקית
              option(value="1191") יסודות האלגוריתמים והסיבוכיות
        .box
          p
            label(for="hardness") מדד קושי:
            select#hardness.formScreen4SelectStyleShort(name="hardness", disabled)
              option.textInSelect(value="", disabled, selected) בחר מדד קושי
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
              option(value="5") 5
          p
            label(for="load") מדד העומס:
            select#load.formScreen4SelectStyleShort(name="load", disabled)
              option.textInSelect(value="", disabled, selected) בחר מדד עומס
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
              option(value="5") 5
        button.button5(type="submit") חפש
