<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>CourseGrade</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="commentScreen">
<div class="comment-box">
    <p>הוסף תגובה</p>
    <form class="comment-form">
        <input type="text" class="inputcomment" placeholder="כותרת" required>
        <textarea rows="10" placeholder="תוכן" required></textarea>
        <button type="submit"> שלח</button>

    </form>
</div>

</body>
</html>

