doctype html
html(dir="rtl", lang="he")
    head
        meta(charset="UTF-8")
        title CourseGrade
        link(rel="stylesheet", href="css/style.css")
    body.commentScreen
        .comment-box
            p הוסף תגובה
            form.comment-form
                input.inputcomment(type="text", placeholder="כותרת", required)
                textarea(rows="10", placeholder="תוכן", required)
                button(type="submit")  שלח
